/*General*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    width: 100%;
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

.desktop-nav .logo{
    font-size: 1.5rem;
    position: absolute;
    width: 150px;
    top: 17px;
    left: 12%;
}


#desktop-nav{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    z-index: 9999;
}

nav ul{
    margin-right: 50px;
}

#desktop-nav ul li{
    display: inline-block;
    margin: 0px 20px;
    line-height: 40px;
}

.desktop-nav ul li a{
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    color: #232228;

}

.desktop-nav ul li a:before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    background: grey;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.desktop-nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

#desktop-nav ul li a:hover{
    color: grey;

}

label #ham-btn-cancel, label #ham-btn{
    color: rgb(79, 79, 79);
    font-size: 30px;
    justify-content: right;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{
    display: none;
}

/*Hamburger*/



/*Progress Bar*/
.progress-bar{
    position: fixed;
    top: 70px;
    left: 0%;
    width: 0;
    height: 3px;
    background-color: rgb(126, 126, 126);
    z-index: 9998;
}

/*Home Page*/
.banner{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    margin-top: 3.5rem;
}


.home_content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}

.home_content h1{
    font-size: 2rem;
    margin-top: 100px;
}

.home_content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/*ABOUT US*/
.btn{
    display: inline-block;
    padding: 8px 18px;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    font-size: 80%;
    text-decoration: none;
}

.btn:hover{
    background-color: grey;
    transform: scale(1.1) translateY(2px);
    transition-duration: 0.4s;
}

.about_container{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.about_container .about__text{
    margin-left: 8%;
    text-align: left;
    margin: auto;
}
.about__pic-container img{
    max-width: 100%;
    width: 500px;
    height: 500px;
    margin-left: 10%;
    padding: 20px;  
    margin-top: 40px;
    
}

.about__text span{
    color: grey;
    font-weight: 600;
}

.about__text h2{
    font-size: 20px;
    margin-top: 5px;
}

.about__text p{
    margin: 0.8rem 0 1rem;
    line-height: 1.7;
    width: 35rem;
}

/*Services*/

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.services h1{
    font-size: 2em;
    margin: 25px;
    color: black;
}

.services p{
    text-align: center;
}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 4px;
    box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.2);
}

.card i{
    margin: 20px;
    color: black;
}

.card h2{
    margin-top: -30px;
    margin-bottom: 12px;
    font-weight: 450;
    text-align: center;
    color: rgb(52, 52, 52);
}

.card p{
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.card:hover i,.card:hover p{
    color: white;
}

.card:hover h2{
    font-weight: 500;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg, rgba(171, 166, 188, 0.7) 0%, rgba(185, 177, 137, 0.514) 100%), url("/assets/facial.jpg"); background-size: cover;
}

.card:nth-child(2):hover{
    background: linear-gradient(45deg, rgba(171, 166, 188, 0.7) 0%, rgba(185, 177, 137, 0.514) 100%), url("/assets/eyebrow2.jpg"); background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg, rgba(171, 166, 188, 0.7) 0%, rgba(185, 177, 137, 0.514) 100%), url("/assets/gua\ sha\ 1.jpg"); background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg, rgba(171, 166, 188, 0.7) 0%, rgba(185, 177, 137, 0.514) 100%), url("/assets/eyelash.jpg"); background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg, rgba(171, 166, 188, 0.7) 0%, rgba(185, 177, 137, 0.514) 100%), url("/assets/head.jpg"); background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg, rgba(171, 166, 188, 0.7) 0%, rgba(185, 177, 137, 0.514) 100%), url("/assets/eyet.jpg"); background-size: cover;
}


/*Contact Us*/
.contact{
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}

.contact_container{
    max-width: 800px;
    margin: 0 auto;
}

.contact_container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.form-group{
    margin-bottom: 20px;
}

input,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #dcdbdc;
    color: black;
}

input:focus textarea:focus{
    outline: none;
    box-shadow: 0 0 8px red;
}

.contact-form button{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(184, 183, 183);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 12px;
}

.contact-form button:hover{
    background-color: rgb(149, 147, 147);
}

.contact-info{
    text-align: left;
    margin-left: 20%;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.contact-info p{
    margin-bottom: 10px;
    color: black;
}

.contact-info i{
    color: rgb(154, 154, 154);
    margin-right: 10px;
}

iframe{
    width: 110%;
    height: 55%;
}


/*REVIEWS*/
.review_container{
    max-width: 970px;
    margin: auto;
    margin-top: -30px;
    padding: 0 15px;
}

.review_header{
    text-align: center;
    margin-bottom: 50px;
}

.review_header .title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: hsl(0, 0, 100%);
    line-height: 1.2;
}

.reviews{
    padding: 100px 0;
    background-color: white;
}

.review_item{
    background-color: rgb(214, 213, 213);
    padding: 30px;
    border-radius: 30px;
}

.review_item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review_item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 0px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.review_item .text_box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.review_item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(53, 53, 53);
    line-height: 1.2;
    align-items: center;
    justify-content: center;
}

.review_item p{
    margin-top: 20px;
    color: black;
    text-align: center;
}

.review_content .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.review_content .swiper-pagination-bullet{
    height: 8px;
    width: 8px;
    background-color: hsl(0, 0, 100%);
}

/*FOOTER*/
footer{
    background: rgb(227, 227, 227);
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: rgb(62, 62, 62);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1rem;
}

.footer-content p{
    max-width: 500px;
    margin: 25px 0 10px 0 ;
    line-height: 28px;
    font-size: 12px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
    font-size: 1.2rem;
}

.socials li{
    margin: 0 15px;
}

.socials a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}

.socials a li{
    font-size: 1rem;
    transition: color 0.4s ease;
}

.socials a li i{
    height: 100px;
    width: 100%;
}

.socials a:hover i{
    color: grey;
}

.footer-bottom{
    width: 100vw;
    padding: 2px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: capitalize;
    font-weight: 200;
}


.card .service-btn{
    display: inline-block;
    padding: 8px 18px;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    font-size: 80%;
    text-decoration: none;
    margin-top: 20px;
}
